In [1]:
import os
import pyspark

# Start Spark session
conf = pyspark.SparkConf()
conf.setMaster("local").setAppName("My app")

sc = pyspark.SparkContext(conf=conf)
spark = pyspark.sql.SparkSession(sc)
spark

In [2]:
from pyspark.sql.functions import col, sum, round, when, struct, collect_list

In [3]:
# Load fishing fleets dataset
fleets = spark \
                .read \
                .option("inferSchema", "true") \
                .option("header", "true") \
                .csv("data/fishing_fleet.csv")

In [4]:
fleets.head(5)

[Row(COUNTRY0='AUS', Country1='Australia', FLEET2='TOT_VESSEL', Fleet3='Total Vessels', MEASURE4='NUM', Measure5='Number of vessels', YEAR6=2010, Year7=2010, Unit Code='NBR', Unit='Number', PowerCode Code=0, PowerCode='Units', Reference Period Code=None, Reference Period=None, Value=318.0, Flag Codes=None, Flags=None),
 Row(COUNTRY0='AUS', Country1='Australia', FLEET2='TOT_VESSEL', Fleet3='Total Vessels', MEASURE4='NUM', Measure5='Number of vessels', YEAR6=2011, Year7=2011, Unit Code='NBR', Unit='Number', PowerCode Code=0, PowerCode='Units', Reference Period Code=None, Reference Period=None, Value=325.0, Flag Codes=None, Flags=None),
 Row(COUNTRY0='AUS', Country1='Australia', FLEET2='TOT_VESSEL', Fleet3='Total Vessels', MEASURE4='NUM', Measure5='Number of vessels', YEAR6=2012, Year7=2012, Unit Code='NBR', Unit='Number', PowerCode Code=0, PowerCode='Units', Reference Period Code=None, Reference Period=None, Value=318.0, Flag Codes=None, Flags=None),
 Row(COUNTRY0='AUS', Country1='Australia', FLEET2='TOT_VESSEL', Fleet3='Total Vessels', MEASURE4='NUM', Measure5='Number of vessels', YEAR6=2013, Year7=2013, Unit Code='NBR', Unit='Number', PowerCode Code=0, PowerCode='Units', Reference Period Code=None, Reference Period=None, Value=306.0, Flag Codes=None, Flags=None),
 Row(COUNTRY0='AUS', Country1='Australia', FLEET2='TOT_VESSEL', Fleet3='Total Vessels', MEASURE4='NUM', Measure5='Number of vessels', YEAR6=2014, Year7=2014, Unit Code='NBR', Unit='Number', PowerCode Code=0, PowerCode='Units', Reference Period Code=None, Reference Period=None, Value=309.0, Flag Codes=None, Flags=None)]

In [5]:
fleets.printSchema()

root
 |-- COUNTRY0: string (nullable = true)
 |-- Country1: string (nullable = true)
 |-- FLEET2: string (nullable = true)
 |-- Fleet3: string (nullable = true)
 |-- MEASURE4: string (nullable = true)
 |-- Measure5: string (nullable = true)
 |-- YEAR6: integer (nullable = true)
 |-- Year7: integer (nullable = true)
 |-- Unit Code: string (nullable = true)
 |-- Unit: string (nullable = true)
 |-- PowerCode Code: integer (nullable = true)
 |-- PowerCode: string (nullable = true)
 |-- Reference Period Code: string (nullable = true)
 |-- Reference Period: string (nullable = true)
 |-- Value: double (nullable = true)
 |-- Flag Codes: string (nullable = true)
 |-- Flags: string (nullable = true)

In [6]:
# Drop unnecessary columns
fleets = fleets.drop("Reference Period Code", \
                           "Reference Period", \
                           "Flag Codes", \
                           "Flags", \
                           "PowerCode Code", \
                           "PowerCode", \
                           "YEAR6")

In [7]:
# Rename columns
fleets = fleets.withColumnRenamed("COUNTRY0", "Country Code") \
                .withColumnRenamed("Country1", "Country") \
                .withColumnRenamed("FLEET2", "Fleet Code") \
                .withColumnRenamed("Fleet3", "Fleet") \
                .withColumnRenamed("MEASURE4", "Measure Code") \
                .withColumnRenamed("Measure5", "Measure") \
                .withColumnRenamed("Year7", "Year")

In [8]:
fleets.printSchema()

root
 |-- Country Code: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Fleet Code: string (nullable = true)
 |-- Fleet: string (nullable = true)
 |-- Measure Code: string (nullable = true)
 |-- Measure: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Unit Code: string (nullable = true)
 |-- Unit: string (nullable = true)
 |-- Value: double (nullable = true)

In [9]:
# Retrieve fleet types and their respective codes
fleet_types = fleets.select("Fleet Code", "Fleet").distinct().sort("Fleet")
fleet_types.show()

+----------+-------------+
|Fleet Code|        Fleet|
+----------+-------------+
|   LOA_0_6|      0-5.9 m|
| LOA_12_18|    12-17.9 m|
| LOA_18_24|    18-23.9 m|
| LOA_24_30|    24-29.9 m|
| LOA_30_36|    30-35.9 m|
| LOA_36_45|    36-44.9 m|
| LOA_45_60|    45-59.9 m|
|  LOA_6_12|     6-11.9 m|
| LOA_60_75|    60-74.9 m|
|    LOA_75|75 m and over|
|   LOA_UNK|  LOA unknown|
|TOT_VESSEL|Total Vessels|
+----------+-------------+

In [10]:
# Show units and their respective codes
fleets.select("Unit Code", "Unit").distinct().sort("Unit").show()

+---------+------+
|Unit Code|  Unit|
+---------+------+
|      NBR|Number|
|    TONNE|Tonnes|
+---------+------+

In [11]:
# Cast values to integer
fleets = fleets.withColumn("Value", fleets.Value.cast("int"))

In [12]:
# Create columns from fleet types and add subdictionaries for units of measurments, so that there is one row per
# (country, year)
fleets = fleets.groupBy("Country Code", \
               "Country", \
               "Year") \
.pivot("Fleet") \
.agg(collect_list(struct("Unit", "Value"))) \
.orderBy("Country", "Year")

In [13]:
fleets.printSchema()

root
 |-- Country Code: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- 0-5.9 m: array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- Unit: string (nullable = true)
 |    |    |-- Value: integer (nullable = true)
 |-- 12-17.9 m: array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- Unit: string (nullable = true)
 |    |    |-- Value: integer (nullable = true)
 |-- 18-23.9 m: array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- Unit: string (nullable = true)
 |    |    |-- Value: integer (nullable = true)
 |-- 24-29.9 m: array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- Unit: string (nullable = true)
 |    |    |-- Value: integer (nullable = true)
 |-- 30-35.9 m: array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- Unit: string (nullable = true)
 |    |    |-- Value: integer (nullable = true)
 |-- 36-44.9 m: array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- Unit: string (nullable = true)
 |    |    |-- Value: integer (nullable = true)
 |-- 45-59.9 m: array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- Unit: string (nullable = true)
 |    |    |-- Value: integer (nullable = true)
 |-- 6-11.9 m: array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- Unit: string (nullable = true)
 |    |    |-- Value: integer (nullable = true)
 |-- 60-74.9 m: array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- Unit: string (nullable = true)
 |    |    |-- Value: integer (nullable = true)
 |-- 75 m and over: array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- Unit: string (nullable = true)
 |    |    |-- Value: integer (nullable = true)
 |-- LOA unknown: array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- Unit: string (nullable = true)
 |    |    |-- Value: integer (nullable = true)
 |-- Total Vessels: array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- Unit: string (nullable = true)
 |    |    |-- Value: integer (nullable = true)

In [28]:
# Load the transformed data into MongoDB
import json
import pymongo
from dotenv import dotenv_values

from pyspark.sql.functions import to_json, from_json
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, ArrayType

In [15]:
# Retrieve MongoDB creds
config = dotenv_values("creds.env")

user = config['user']
password = config['password']

# Connect to MongoDB
uri = "mongodb+srv://" + user + ":" + password + "@cluster0.6jfc5iw.mongodb.net/"
client = pymongo.MongoClient(uri)
db = client["gfw"]
collection = db["vessels"]

In [16]:
fleet_type_columns = list(fleet_types.select("Fleet").toPandas()["Fleet"])

In [59]:
# Sub-JSON schema
# Define the schema for the sub-JSON
schema = ArrayType(StructType([
  StructField("Unit", StringType(), True),
  StructField("Value", IntegerType(), True)
]), False)

vessels_dict = fleets

for fleet_type in fleet_type_columns:
    fleet = "`{}`".format(fleet_type)
    vessels_dict = vessels_dict.withColumn(fleet_type, to_json(col(fleet)))
    vessels_dict = vessels_dict.withColumn(fleet_type, from_json(col(fleet), schema))

In [60]:
vessels = vessels_dict.toPandas().to_dict("records")

In [61]:
collection.insert_many(vessels)

In [62]:
client.close()